@{
    ViewData["Title"] = "Home Page";
}

<div class="main-page">
    <h1 class="display-4">Добро пожаловать!</h1>
    <div class="head_vxod">
        <label class="user_label">Пароль:</label>
        <input class="user_input" type="password">
        <label class="user_label">Логин:</label>
        <input class="user_input" type="text">
    </div>
    <div class="main-page_footer">
        <input type="submit" name="submit" value="ВХОД" class="button">
        <input type="submit" name="submit" value="РЕГИСТРАЦИЯ" class="register">
    </div>
</div>

