@{
  
}
<div class="main-page">
    <h1 class="display-4">Добро пожаловать!</h1>
    <div class="head_registration">
        <label class="user_label">Логин:</label>
        <input class="user_input" type="text">
        <label class="user_label">Придумайте пароль:</label>
        <input class="user_input" type="password">
        <label class="user_label">Повторите пароль:</label>
        <input class="user_input" type="password">
    </div>
    <div class="main-page_footer">
        <input type="submit" name="submit" value="Зарегестрироваться" class="register">
    </div>
</div>