@{
    ViewBag.tittle = "Карта";
}

<div class="main-page_zd">
    <h1 class="display-4_zd">ЖД маршруты</h1>
    <div class="main_div">
        <div class="butt_list">
            <div class="func_butt">
                <button class="add_butt">Добавить маршрут</button>
            </div>
            <div class="list_route" style="overflow-y:scroll;">
                <div class="route">
                    <p class="startpoint">Начальная точка</p>
                    <p class="endpoint">Конечная точка</p>
                </div>
                <div class="route"></div>
                <div class="route"></div>
                <div class="route"></div>
                <div class="route"></div>
                <div class="route"></div>
                <div class="route"></div>
                <div class="route"></div>
            </div>
        </div>
        <div class="map">

        </div>
    </div>
</div>
